
header {
    max-width: 1200px;
}

#logo {
    width: 30%;
}

#iconeMenu {
    display: none;
}


nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.btn-menu {
    background-color: transparent;
    color: rgb(19,19,36);
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
}

.btn-menu:hover {
    transition: 0.4s;
    color: #ff9400;
}

.btn-orange {
    transition: 0.5s;
}
.btn-orange:hover {
    position: relative;
    transform: translate(-2px, -2px);
}

.iconePlane {
    position: absolute;
    transform: rotate(-10deg);
    top: 63px;
    left: 140px;
    font-size: 18pt;
    color: #1b627c;
}

.containerBuscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: #fff;
    background-color: rgb(19,19,36);
    padding: 20px;
}

.containerBuscar > h3 { 
    font-size: 22pt;
    padding: 20px 0;
}

.itemBuscar > input {
    width: 550px;
    padding: 10px;
    border-radius: 5px;
}

.itemBuscar > button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff9400;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    transition: 0.3s;
}

.itemBuscar > button:hover {
    background-color: #d4d4d4;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
    transition: 0.5s;
}

