* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    
}

/* responsive img */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

main {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
}

main > h1,
main > p {
    color: #fff;

}

.containerHeader {
    width: 100%;
    height: auto;
}

.branco {
    background-color: #fff;
}

.azul {
    background-color: rgb(19, 19, 36);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.226);
}

hr {
    outline: none; 
    border-bottom: 4px solid orange;
    width: 10%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: rgb(19, 19,26);
    padding: 15px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 19,26);
    padding: 15px 0;
    line-height: 150%;
    text-align: justify;
}

.btn-orange {
    padding: 5px 10px;
    border:2px solid #e68600;
    background-color: #ff9400;
    font-size: 12pt;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    cursor: pointer;
    
}

.containerLocais {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#local {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #33333363;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.137);
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    height: 300px;
    border-radius: 10px 10px 0 0;
}

h3 { 
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#local > hr {
    width: 90%;
}

#local > p {
    padding: 12px;
    
}

.valueBtn {
    padding: 8px 25px;
    border:1px solid rgb(19,19,36);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.valueBtn > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(19, 19, 36);
}

.valueBtn > span {
    font-size: 9pt;
}

#pontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px ;
    font-family: Arial, Helvetica, sans-serif;
}

#pontos >  hr {
    padding-top: 5px;
    width: 20%;
}

.date {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

#oferta {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#oferta > a {
    border: 1px solid rgb(19, 19, 36);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(19, 19, 36);
    font-weight: bold;
    transition: 0.3s;
}




.containerDuvidas {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.itensDuvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 260px;
    height: 380px;
    background-color: #fff;
    border: 1px solid #33333363;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.137);
    font-family: Arial, Helvetica, sans-serif;
}

.containerFooter {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(19, 19, 36);
}