
#logo {
    width: 50%;
}

#iconeMenu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 18pt;
    color: rgb(19,19,36);

}

nav {
    display: none;
}

main hr {
    width: 40%;
}

.iconePlane {
    position: absolute;
    left: 202px;
    top: 68px;
    color: #1b627c;
    transform: rotate(-10deg);
    
}

.containerLocais {
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#local {
    margin-bottom: 15px;
    width: auto;
    height: 750px;
}

.img {
    height: 400px;
}

.valueBtn {
    padding: 25px 40px;
    font-size: 14pt;
}

.valueBtn:active{
    background-color: #ff9400;
    color: #fff;
    transition: 0.4s;
    position: relative;
    border:1px solid #d47c00;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.212);
    transform: translate(-1px, -2px);
}

.valueBtn > a:active {
    color: #fff;
}

.date {
    font-size: bold;
}

.date > label {
    padding: 10px;
}

.date > input {
    border: 1px solid #33333371;
    padding: 5px;
    border-radius: 5px;
}

#oferta > a:active {
    background-color: #ff9400;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
    border:1px solid #e68600;
}

.containerBuscar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    height: auto;
    color: #fff;
    background-color: rgb(19,19,36);
    padding: 20px;
}

.containerBuscar > h3 { 
    font-weight: bold;
    padding: 20px 0 0 0;
    font-size: 20pt;
}

.containerBuscar >  hr {
    padding-top: 5px;
    width: 60%;
}

.itemBuscar {
    padding: 50px 0;
}

.itemBuscar > input {
    padding: 5px;
    width: 350px;
}

.itemBuscar > button {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff9400;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    transition: 0.3s;
}

.itemBuscar > button:active {
    background-color: #d4d4d4;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
    transition: 0.5s;
}

.containerDuvidas {
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.itensDuvidas {
    margin-bottom: 20px;
    max-width: 300px;
    height: 450px;
}



