body, html {
    margin: 0; 
    padding: 0;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

article h2 {
    font-size: 2rem;
    color: #555;
    border-bottom:  2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

article img {
    max-width: 100%;
    display: block;
    margin: 1rem 0;
}

article p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #444;
    margin-top: 1rem;
}

ul {
    list-style-type: circle;
    padding-left: 1rem;
    color: #666;
}

li {
    margin-bottom: 0.5rem;
}