:root {
    --lado: 70vh;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

img {
    padding: 20px;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.quadrado {
    border: 4px solid black;
    width: var(--lado);
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.texto {
    padding-top: 15px;
}